.inner{box-sizing: border-box;}
.flex{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;}

#wrap{position: relative; width: 100%; height:100vh; overflow: hidden;}
body{background-color: #fff;z-index: -8;}


#wrap .color{position: absolute; z-index: -99;}
#wrap .color .orange{font-size: 0; background-color: #fcad97; width: 500px; height: 500px; 
					border-radius: 50%; filter: blur(30px);}
#wrap .color .blue{font-size: 0; width: 300px; height: 300px; background-color: #b9c7c6; border-radius: 50%;
					filter: blur(30px);position: absolute; transform: translateY(200px); }
#wrap .color .sky{font-size: 0; width: 500px; height: 500px; background-color: #78aad8;border-radius: 50%;
				  filter: blur(70px); position: absolute; right: -280%; top: 70%;}


 .pop{width:70%; height:100%; position:fixed; left:30%; top:0; background:rgba(0,0,0, 0.6); z-index:99; display:none;}
 .pop .img{position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);  background:white; text-align:center;}
 /* .modal_select a.on{background-color: gold;} */

 #pop_up{width:100%; height:100%; position:fixed; left:0; top:0; background:rgba(0,0,0, 0.6); z-index:99; display:none;}/*뒷 배경*/
 #pop_up .img{position:fixed; left:50%; top:50%; transform:translate(-50%,-50%);  background:white; text-align:center; overflow-y: scroll; height: 100%;}
 #pop_up .img img{display:block; padding:20px;}

button.close {border: none;}
.pop .btn button.close{position: absolute;top: 20px; right: 10px;
    /* background-color: #fff; */ padding: 10px 20px; font-size: 50px;
	font-weight: 700; color: #36a6a8;}
#pop_up .btn button.close{position: absolute; top: 50px; right: 50px;
    /* background-color: #fff; */ padding: 10px 20px; font-size: 100px;
	font-weight: 700; color: #36a6a8;}

 /* #pop_up .btn button{padding:6px 12px; border:none; border-radius:6px;background:#009688; color:white;} */

.modal{display:block;} 


/* .tabSet{box-sizing:border-box;} */
.tabSet{height: 100%;}
.tabSet .tabs{background-image: url(../image/background.png); 
	 width: 30%; min-width: 400px; font-size: 20px; color: #fff; 
	 font-weight: 300; box-sizing: border-box; display: flex; flex-direction: column; justify-content: center;}
.tabSet .tabs .profile{ padding-left: 13%; padding-bottom: 150px;}
.tabSet .tabs .profile .prof_tit{font-size: 35px; margin-bottom: 40px;}
.tabSet .tabs .profile .prof_tit_name{font-size:60px; margin-bottom: 80px; font-weight: 500; position: relative;}
.tabSet .tabs .profile .prof_tit_name::before{content: ''; width: 200px; height: 1px; background-color: #fff;position: absolute; bottom: -50px; left: 0px;}
.tabSet .tabs .profile .prof_p{line-height: 30px;}

.tabSet .tabs .contact_btn{padding-top: 50px;}
.tabSet .tabs .contact_btn a{background-color: #36a6a8; padding: 5px 20px;}

.tabSet .tabs ul{margin-left: 50%; }
.tabSet .tabs ul li{line-height: 50px; position: relative; padding-top: 10px; font-weight: 500; top: -50px; }
.tabSet .tabs ul li a:hover{color: #36a6a8;}
.tabSet .tabs ul li a.on{color: #36a6a8;}
.tabSet .tabs ul li::after{content: ''; width: 180px; height: 1px; background-color: #fff;position: absolute; bottom: 0px; left: 0px;}
.tabSet .tabs ul li::before{content: ''; width: 30px; height: 1px; background-color: #fff;position: absolute; transform: rotate(45deg); bottom: 10px; left: 155px;}


/* .tabSet .tabs li{padding-right: 20px; padding-left: 40px;  transform: translateY(-40px);} 
.tabSet .tabs li a{float:left; line-height: 110px;
		font-weight: 900; font-size: 100px; color: #fff; 
		transition: 0.5s; z-index: 9;}
.tabSet .tabs li a:hover{text-decoration:none; color: #68b1ff; transform: scale(0.9); }
.tabSet .tabs li a.on{cursor:default; color: #6391af; transform: scale(0.9);}
.tabSet .tabs li a.on:hover{text-decoration:none; transform: scale(0.8);} 

.tabSet .contact_btn{position: absolute; bottom: 80px;  left: 12%;
					box-shadow: 0px 7px 20px -15px #000;
					padding: 30px 60px; font-size: 30px;  border-radius: 30px;
					font-weight: 700; cursor: pointer; transition: 0.5s; 
					background-color: rgba(10, 7, 163, 0.1); color: rgba(10, 7, 163, 0.349);}   
.tabSet .contact_btn:hover{background-color:rgba(10, 7, 163, 0.349); color: #fff;}
*/
/* -------------------------------------- */

.panels{display: block; overflow: auto; width: 70%;}
.panels::-webkit-scrollbar{width: 15px; }
.panels::-webkit-scrollbar-thumb{background-color: #36a6a8;}

.panels .panel{padding:10px; padding-left: 30px; font-size:14px;  display:none;
				width: 100%; overflow: auto; box-sizing: border-box;}
.panels #panel2-1.panel{display: block;}
.panels .panel .panel_imagebox{flex-wrap:wrap; height: 100%; margin: 0 auto; position: relative; }
.panels .panel .panel_imagebox .panel_images{border-width: 1px; width: calc((100% - 20px)/3); height: 450px; margin-bottom:10px; overflow: hidden; }


.panels .panel .panel_imagebox .panel_images img{width: 100%; height: 100%; object-fit: cover;transition: .3s linear; filter: grayscale(0);}
.panels .panel .panel_imagebox .panel_images img:hover{transition: .3s linear; transform: scale(0.9); filter: grayscale(100%);} 

/* ------------website-------------------- */
.panels{background-color: #f2f2f2;}
.panels .panel .web_box{margin:0 auto; justify-content: space-around;  padding-top: 50px; overflow: hidden;  width: 100%; }
.panels .panel .web_box .web_text{margin: auto 0; }

.panels .panel .web_box .web_text h2{font-weight: 700; font-size: 35px; line-height: 100px;position: relative;}
.panels .panel .web_box .web_text h2 span{font-weight: 100; font-size: 25px; position: absolute; top: -40px;}
.panels .panel .web_box .web_text > p{margin-bottom: 30px; font-size: 20px; line-height: 30px;}
.panels .panel .web_box .web_text > p span{font-weight: 700; font-size: 18px; color: rgb(96, 96, 96);}

.panels .panel .web_box .web_text .web_btn{justify-content:start; } 
.panels .panel .web_box .web_text .web_btn a{background-color: #36a6a8; color: #fff; padding: 05px 30px; font-size: 20px; ;line-height: 30px; margin-right: 30px;}
.panels .panel .web_box .web_text .web_btn a:hover{background-color: #969f9f;}

.panels .panel .web_box .web_list{width: 50%;}
.panels .panel .web_box .web_list img{ width: 100%; }
/* --------------------------------- *