.inner{max-width:1750px;min-width: 1749px; margin: 0 auto; padding:0 10px; box-sizing: border-box;}
.flex{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;}

#wrap{position: relative; width: 100%; height:100vh; overflow: hidden;}
body{background-color: #fff;z-index: -8;}


#wrap .color{position: absolute; z-index: -99;}
#wrap .color .orange{font-size: 0; background-color: #fcad97; width: 500px; height: 500px; 
					border-radius: 50%; filter: blur(30px);}
#wrap .color .blue{font-size: 0; width: 300px; height: 300px; background-color: #b9c7c6; border-radius: 50%;
					filter: blur(30px);position: absolute; transform: translateY(200px); }
#wrap .color .sky{font-size: 0; width: 500px; height: 500px; background-color: #78aad8;border-radius: 50%;
				  filter: blur(70px); position: absolute; right: -280%; top: 70%;}

/* .tabSet{box-sizing:border-box;} */
.tabSet{height: 100%;}
.tabSet .tabs{flex-direction: column; justify-content: center; background-color: rgba(255, 255, 255, 0.4);
		   	   margin: 10px 0; width: 30%; border-radius: 30px; -webkit-backdrop-filter: blur(50px); 
			   backdrop-filter: blur(50px);
			   box-shadow: 0 6px 20px -15px #000; border-width: 1px;}
.tabSet .tabs li{padding-right: 20px; padding-left: 40px;  transform: translateY(-40px);} 
.tabSet .tabs li a{float:left; line-height: 110px;
		font-weight: 900; font-size: 100px; color: #fff; 
		text-shadow: -3px 0 #075ab2, 1px 0 #075ab2, 0 1px #075ab2, 0 -1px #075ab2;
		transition: 0.5s; z-index: 9;}
.tabSet .tabs li a:hover{text-decoration:none; color: #68b1ff; transform: scale(0.9); }
.tabSet .tabs li a.on{cursor:default; color: #6391af; transform: scale(0.9);}
.tabSet .tabs li a.on:hover{text-decoration:none; transform: scale(0.8);}

.tabSet .contact_btn{position: absolute; bottom: 80px;  left: 12%;
					box-shadow: 0px 7px 20px -15px #000;
					padding: 30px 60px; font-size: 30px;  border-radius: 30px;
					font-weight: 700; cursor: pointer; transition: 0.5s; 
					background-color: rgba(10, 7, 163, 0.1); color: rgba(10, 7, 163, 0.349);}   
.tabSet .contact_btn:hover{background-color:rgba(10, 7, 163, 0.349); color: #fff;}

/* -------------------------------------- */

.panels{min-height:180px; display: block; overflow: auto;}
.panels::-webkit-scrollbar{width: 20px; }
.panels::-webkit-scrollbar-thumb{background-color: #b2070780; border-radius: 50px;}

.panels .panel{padding:10px; padding-left: 30px; font-size:14px;  display:none;
				width: 100%; overflow: auto; box-sizing: border-box;}
.panels #panel2-1.panel{display: block;}
.panels .panel .panel_imagebox{flex-wrap:wrap; height: 100%; margin: 0 auto; position: relative; }
.panels .panel .panel_imagebox .panel_images{box-shadow: 0 6px 20px -15px #000; border-width: 1px; width: calc((100% - 20px)/3); height: 380px;
											 margin-bottom:10px ; overflow: hidden; border-radius: 10px;}
.panels .panel .panel_imagebox .panel_images img{width: 100%; height: 100%; object-fit: cover;transition: .3s linear;filter: grayscale(70%);}
.panels .panel .panel_imagebox .panel_images img:hover{transition: .3s linear; transform: scale(1.1); filter: grayscale(0);} 

/* -------------renewal-------------------- */
.panels .panel .web_box{margin: 10px;}
.panels .panel .web_box .web_list{height: 400px; overflow: hidden; box-shadow: 0 6px 20px -15px #000;
									border-radius: 10px;  border-width: 1px;}
/* .panels .panel .web_box .web_list img:hover{} */
.panels .panel .web_box .web_list img{ width: 100%;}

/* --------------------------------- */
/* .panels #panel2-4{width: 100%;} */
.panels #panel2-4 .profile{text-align: center; position: absolute; right: 500px; top: 50%; transform: translateY(-50%);}
.panels #panel2-4 .profile .prof_img{width:300px; height: 300px; background-color: rgba(255, 255, 255, 0.4);
					box-shadow: 1px 6px 20px -15px #000; overflow: hidden; border-radius: 50%;
					margin-bottom: 50px;}